<h1>Help</h1>
<p>
  Get help by checking out our <a href="https://github.com/wwyiyi/project5">codes</a>.
  To get help on how to build this app, please refer to the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
