<div class="center hero-unit">
<h1>Welcome Home</h1> 
<h2>
  This is where you find all the excitement of life. Through ads.
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
