@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
<<<<<<< HEAD
   padding-top: 7em;
   background-image:url("/assets/chevron.jpg");
   background-repeat:no-repeat;
}


=======
  padding-top: 60px;
}

>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

<<<<<<< HEAD
ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
=======
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
<<<<<<< HEAD
      display: block;      
=======
      display: block;
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

<<<<<<< HEAD
=======
.gravatar {
  float: left;
  margin-right: 10px;
}

>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
<<<<<<< HEAD
  font-size: 2.4em;
=======
  font-size: 3em;
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
<<<<<<< HEAD
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #000000;
}

=======
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-top: 30px;
  //text-align: center;
  font-weight: bold;
}


>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

<<<<<<< HEAD
=======
p1 {
  font-size: 1.3em;
  line-height: 1.7em;
  /*margin-bottom: 10px;*/
 /* border-bottom:thin solid $grayLight;*/
}
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
<<<<<<< HEAD
  color: #6495ED;
  
=======
  color: purple;
  font-style:oblique;
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
<<<<<<< HEAD
  &:hover {
    color: white;
=======
  font-family:"Courier New", Times, serif;
  &:hover {
    color: purple;
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
<<<<<<< HEAD
    color: black;
    &:hover {
      color: white;
=======
    color: $gray;
    &:hover {
      color: $grayDarker;
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

<<<<<<< HEAD
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

=======
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

/* User index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
<<<<<<< HEAD

.content {
  display: block;
  color: #0000CC;
}

.timestamp {
  color: #000000;
}

=======
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

<<<<<<< HEAD
=======
/* micropost jQuery countdown */

.countdown {
  display: inline;
  padding-left: 10px;
  color: $grayLight;
}

/* sidebar */
.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
